$font-stack: Arial,
Helvetica,
sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $secondary-color;
  font-family: $font-stack;
  line-height: 1.6;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}