// flex utilities
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  @include flex-center()
}

$spaceamounts: (0, 1, 2, 3, 4, 5);

//Padding
@each $space in $spaceamounts {
  .p-#{$space} {
    padding: #{$space}rem !important;
  }

  .px-#{$space} {
    padding: 0 #{$space}rem !important;
  }

  .py-#{$space} {
    padding: #{$space}rem 0 !important;
  }

  .pt-#{$space} {
    padding-top: #{$space}rem !important;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}rem !important;
  }

  .pl-#{$space} {
    padding-left: #{$space}rem !important;
  }

  .pr-#{$space} {
    padding-right: #{$space}rem !important;
  }
}

$spaceamounts: (0, 1, 2, 3, 4, 5);

// Margin
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem !important;
  }

  .mx-#{$space} {
    margin: 0 #{$space}rem !important;
  }

  .my-#{$space} {
    margin: #{$space}rem 0 !important;
  }

  .mt-#{$space} {
    margin-top: #{$space}rem !important;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}rem !important;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}rem !important;
  }

  .ml-#{$space} {
    margin-left: #{$space}rem !important;
  }

  .mr-#{$space} {
    margin-right: #{$space}rem !important;
  }
}